:root {
    --fontcolor: purple;
}

body {
    background-color: thistle;
}

header h1 {
    font-size: 200%;
    text-align: center;
}

header p {
    text-align: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article {
    position: relative;
    width: 30%;
    background-color: thistle;
    border: 2px;
    border-color: green;
    border-style: dashed;
    margin: 1% 1% 3% 1%;
}

article h1 {
    background-color: thistle;
    border: 2px;
    border-style: solid;
    border-color: black;
    position: absolute;
    bottom: 80%;
    left: 25%;
    font-size: 150%;
    color: var(--fontcolor);

}

article .snippet {
    color: white;
    background-image: linear-gradient(green, darkgreen);
}

article .blurb {
    padding-top: 7%;
    color: var(--fontcolor);
}

footer {
    text-align: center;
}

@media screen and (max-width: 768px) {
    article {
        width: 45%;
    }
}

@media screen and (max-width: 555px) {
    main {
        flex-direction: column;   
    }

    article {
        width: 100%;
    }

}